<a href="https://colab.research.google.com/github/MalavikaManoj7/Internship/blob/main/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Install necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Load the dataset
df= pd.read_csv("/content/Online Retail Dataset.csv")

In [ ]:
#To previee first few rows of the dataset
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  UnitPrice  CustomerID         Country
0  01-12-2010 08:26       2.55     17850.0  United Kingdom
1  01-12-2010 08:26       3.39     17850.0  United Kingdom
2  01-12-2010 08:26       2.75     17850.0  United Kingdom
3  01-12-2010 08:26       3.39     17850.0  United Kingdom
4  01-12-2010 08:26       3.39     17850.0  United Kingdom

In [ ]:
# Display a concise summary of the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24721 entries, 0 to 24720
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    24721 non-null  object
 1   StockCode    24721 non-null  object
 2   Description  24610 non-null  object
 3   Quantity     24721 non-null  int64
 4   InvoiceDate  24721 non-null  object
 5   UnitPrice    24721 non-null  float64
 6   CustomerID   16030 non-null  float64
 7   Country      24721 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB
None

In [ ]:
# Check for missing values
print(df.isnull().sum())

InvoiceNo         0
StockCode         0
Description     111
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID     8691
Country           0
dtype: int64

In [ ]:
# Drop rows with missing CustomerID
df.dropna(subset=['CustomerID'], inplace=True)

In [ ]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# Remove transactions with negative quantities or prices
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

In [ ]:
# Remove extreme outliers (optional)
q1 = df['Quantity'].quantile(0.01)
q99 = df['Quantity'].quantile(0.99)
df = df[(df['Quantity'] > q1) & (df['Quantity'] < q99)]